html {
    background-color: darkseagreen;
    width: 1200px;
    margin: auto;
}

* {
    font-family: sans-serif;
}

aside, section, main, footer, body {
    display: grid;
    width: 100%;
}

header { grid-row: 1 / 2; grid-column: 1 / 4}
aside { grid-row: 2 / 4; grid-column: 3 / 4}
img { grid-row: 2 / 4; grid-column 1 / 4}
footer { grid-row 4 / 5; grid-column: 1 / 4}

header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, lightgreen 75%, white 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, lightgreen 75%, white 100%);
    background-image: -o-linear-gradient(45deg, white 0%, lightgreen 75%, white 100%);
    background-image: linear-gradient(45deg, white 0%, lightgreen 75%, white 100%);
    padding: 15px; 
    border-bottom: 2px solid white; 
} 

h1 {
    text-align: center;
}

body  {
	font-family: sans-serif;
	width: 1200px;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid white;
}

main p {
    padding-top: 5em;
    font-size: 150%;
    text-indent: 2.5em;
}

#portrait {
    width: 400px;
    padding: 15px;
}

#uscblogo {
    margin: 0;
    padding: 0;
    width: 97%
}

h2 {
    color: white;
    font-size: 70%;
    margin: auto;
    padding-top: 10px;
}

aside {
    border: 3px solid white;
    font-size: 120%;
    padding-top: 50%;
    padding-bottom: 50%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 150px;
    margin: 0 15px 15px 0;
    padding: 5px;
    text-align: center;
}

footer { 
	border-top: 2px solid white;
    background-image: -webkit-linear-gradient(45deg, white 0%, lightgreen 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, lightgreen 25%, white 100%);
    background-image: -o-linear-gradient(45deg, white 0%, lightgreen 25%, white 100%);
    background-image: linear-gradient(45deg, white 0%, lightgreen 25%, white 100%);
    text-align: center;
    font-size: 90%;
    padding-top: 20px;
}